*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Red Hat Display", sans-serif;    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

main{
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    padding: 20px;
}

.phases{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 1s ease;
}

.phases.phase-active{
    opacity: 1;
    visibility: visible;    
}

.overlay{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #fedfc3, #fcab96, #e580a1, #ef6b91);
    position: fixed;
    top: 0;
    left: 0;
}

#phase1{
    background-image: linear-gradient(45deg, #e9e7dd, #e7aab7);
}

.titles-wrapp{
    position: relative;
    width: 100%;
    margin-bottom: 100px;
}

.title{
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    color: #830839;
}


.btns-wrapp{
    display: flex;
    gap: 20px;
    align-items: center;
}

.btnOption{
    padding: 14px 20px;
    border-radius: 4px;
    color: #fff;
    border: none;
    font-size: 18px;
    line-height: 22px;
    width: 120px;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid #c62744;
    background-color: #db8192;
    box-shadow: 0 4px 6px 0px #79113a52;
}

.btnOption:hover{
    background-color: #c62744;
    border: 2px solid #79113a;
}


/*Confetti*/
#btnParticles{
    position: fixed;
    top: 50%;
    left: 50%;
}

/*Phase 2*/
#phase2{
    background-color: #e9e7dd;
}

.carta-wrapp{
    position: relative;
}

.carta {
    border-left: 120px solid #f9ced7;
    border-right: 120px solid #f9ced7;
    border-top: 80px solid transparent;
    border-bottom: 80px solid #f5a4b3;
    position: relative;
    box-shadow: 0 4px 6px 0px #79113a52;
    z-index: 5;
}

.flap{
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-top: 80px solid #c62744;
    border-bottom: 80px solid transparent;;
    position: absolute;    
    transform-origin: top;
    transform: rotateX(0); 
    z-index: 1;
    transition: all 1s ease;
}

.paper{
    background: #e9e7dd;
    position: absolute;
    width: calc(100% - 20px);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 4px 6px 0px #79113a52;
    transform: translate(-50%, 0);
    transition: all 1s ease 1s;    
}

.overflowBottom{
    position: absolute;
    top: 100%;
    height: 200px;
    width: 100%;
    background-color: #e9e7dd;
}

.paperAnimation{
    transform: translate(-50%, -100px);
}

.paperAnimationScale{
    transform: translate(-50%, -100px) scale(3);
    transition: all 2s ease;    
}

.flapAnimation{
    transform: rotateX(180deg); z-index: 0;
}

.codigocarta-wrapp{
    margin-top: 20px;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.codigocarta-num{
    width: 60px;
    height: 60px;
    border: 2px solid #c62744;
    background-color: #f5a4b3;
    box-shadow: 0 4px 6px 0px #79113a52;
    border-radius: 4px;
    color: #fff;
    padding: 8px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-weight: 800;
}

.codigocarta-num::placeholder{
    color: #c62744;
}

.correctNum{
    border: 2px solid #85c356;
    background-color: #b5d37b;
    color: #488f07;
}

/*Fin Phase 2*/

/*Phase 3*/
#phase3{
    background-image: linear-gradient(45deg, #e9e7dd, #fbc0cc);
    justify-content: flex-start;
    align-items: flex-start;
}

.carta-contenido{
    font-size: 16px;
    line-height: 22px;
    color: #340216;
    padding: 20px 20px;
    width: 100%;
    text-align: start; 
    overflow-y: auto;
    max-width: 800px;
    margin: 0 auto;   
}

.carta-contenido p{
    margin-bottom: 18px;
}

.heart {
    position: absolute;
    top: 0;
    color: red;
    font-size: 24px;
    opacity: 30%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: opacity 0.1s ease-out, scale 0.1s;
    animation: float 20s linear infinite;
}

@keyframes float {
    0% {
        top: 100%;
        opacity: 30%;
    }
    100% {
        top: -100px;
        opacity: 0;
    }
}

.heartScreen{
    position: absolute;
    font-size: 250px;
    line-height: 180px;
    opacity: 70%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out, scale 0.3s;
    animation: floatScreen 2s infinite alternate ease-in-out;    
}

.explode {
    scale: 1.2;
    opacity: 0;
}

@keyframes floatScreen {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-10px);
    }
}


.img-text{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    padding: 12px;   
    background: #79113a;
    color: #e9e7dd;
    border-radius: 4px; 
}

@media (max-width: 480px) {
    .img-text{
        flex-direction: column;
    }
}

.img-text img{
    width: 100%;
    max-width: 320px;
    max-height: 240px;
    object-fit: cover;
    margin: 0 auto;
}

.img-text p:last-of-type{
    margin-bottom: 0;
}



/*Fin Phase 3*/



