*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Red Hat Display", sans-serif;    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

main{
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d3c8ed;
    padding: 20px;
    overflow-x: hidden;
}

.phases{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 1s ease;
}

.phases.phase-active{
    opacity: 1;
    visibility: visible;    
}

.overlay{
    width: 100%;
    height: 100vh;
    background-color: #af1919;
    position: fixed;
    top: 0;
    left: 0;
}

.titles-wrapp{
    position: relative;
    width: 100%;
    margin-bottom: 100px;
}

.title{
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
}


.btns-wrapp{
    display: flex;
    gap: 20px;
    align-items: center;
}

.btnOption{
    padding: 14px 20px;
    border-radius: 4px;
    color: #fff;
    border: none;
    font-size: 16px;
    line-height: 22px;
    width: 120px;
    font-weight: 600;
    cursor: pointer;
}
.btnAccept{
    background-color: #7535e5;
}

.btnCancel{
    background-color: #7535e5;
}
.btnOption:hover{
    background-color: #1838c3;
}


/*Confetti*/
#btnParticles{
    position: fixed;
    top: 50%;
    left: 50%;
}

/*Phase 2*/
#phase2{
    background-color: #fad7df;
}

.carta-wrapp{
    position: relative;
}

.carta {
    border-left: 120px solid #ff989e;
    border-right: 120px solid #ff989e;
    border-top: 80px solid transparent;
    border-bottom: 80px solid #ff858a;
    position: relative;
}

.flap{
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-top: 80px solid #f33334;
    border-bottom: 80px solid transparent;;
    position: absolute;    
    transform-origin: top;
    transform: rotateX(0); 
    z-index: 1;
    transition: all 1s ease;
}

.paper{
    background: #fff;
    position: absolute;
    width: calc(100% - 20px);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    padding: 20px;
    transform: translate(-50%, 0);
    transition: all 1s ease 1s;    
}

.overflowBottom{
    position: absolute;
    top: 100%;
    height: 200px;
    width: 100%;
    background-color: #fad7df;
}

.paperAnimation{
    transform: translate(-50%, -100px);
}

.paperAnimationScale{
    transform: translate(-50%, -100px) scale(3);
    transition: all 2s ease;    
}

.flapAnimation{
    transform: rotateX(180deg); z-index: 0;
}

.codigocarta-wrapp{
    margin-top: 20px;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.codigocarta-num{
    width: 60px;
    height: 60px;
    border: 2px solid #ef5555;
    background-color: #f9a3a8;
    border-radius: 4px;
    color: #af0505;
    padding: 8px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-weight: 800;
}

.codigocarta-num::placeholder{
    color: #ef5555;
}

.correctNum{
    border: 2px solid #85c356;
    background-color: #b5d37b;
    color: #488f07;
}

/*Fin Phase 2*/

/*Phase 3*/
#phase3{
    background-color: #f8f8f8;
    justify-content: flex-start;
    align-items: flex-start;
}

.carta-contenido{
    font-size: 16px;
    line-height: 22px;
    color: #04010e;
    padding: 40px;
    width: 100%;
    text-align: start;    
}

.carta-contenido p{
    margin-bottom: 10px;
}

.heart {
    position: absolute;
    top: 0;
    color: red;
    font-size: 24px;
    opacity: 50%;
    cursor: pointer;
    transition: opacity 0.1s ease-out, scale 0.1s;
    animation: float 20s linear infinite;
}

@keyframes float {
    0% {
        top: 100%;
        opacity: 50%;
    }
    100% {
        top: -100px;
        opacity: 0;
    }
}

.heartScreen{
    position: absolute;
    font-size: 250px;
    line-height: 180px;
    opacity: 70%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out, scale 0.3s;
    animation: floatScreen 2s infinite alternate ease-in-out;    
}

.explode {
    scale: 1.2;
    opacity: 0;
}

@keyframes floatScreen {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-10px);
    }
}




/*Fin Phase 3*/



